*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: black;
}
#container {
    max-width: 400px;
    margin: 50px auto;
    background-color: gray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, alpha);
}
h2 {
    color: darkred;
}
p {
    margin-bottom: 15px;
}
label {
    font-weight: bold;
    display: block;
}
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
}
#outputCelcius {
    font-weight: bold;
    color: darkred;
}
